
.btn-group button {
  background-color: #9D2235; /* UAMS Red background */
  color: white; /* White text */
  padding: 1em ; /* Some padding */
  margin: auto;
  margin-top: 1em;
  cursor: pointer; /* Pointer/hand icon */
  display: block;
  width: 50%;
  max-width: 400px;
  font-size: 1.3em;
  border-radius: 1em;
}


/* Add a background color on hover */
.btn-group button:hover {
  background-color:#c42b42;
}

.App {
  justify-content: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
}

.header {
  background-color: #9D2235;
  display: block;
  position: fixed;
  width: 100vw;
  height: 0.5em;
  z-index: 99999;
}

.logo-image{
  min-width: 300px;
  width: 35%;
  background-color: #9D2235;
  margin: 0.3em;
  margin-left: 2em;
  padding: 0.5em;
}
.text-header{
  display: block;
  text-align: center;
  font-size: 4em;
}