
/* Buttons and the main page */
.btn-group button {
  background-color: #9d2235; /* UAMS Red background */
  color: white; /* White text */
  padding: 1em; /* Some padding */
  margin: auto;
  margin-top: 1em;
  cursor: pointer; /* Pointer/hand icon */
  display: block;
  width: 50%;
  max-width: 400px;
  font-size: 1.3em;
  border-radius: 1em;
}
.btn-group-container {
  min-width: 100vw;
  min-height: 100vh;
  text-align: center;
  scroll-snap-align: start;
  position: relative;
  float:left
}
.btn-group {
  align-items: center;
  justify-content: center;
  display: block;
  position: relative;
  margin: 0;
  margin-top: 45vh;
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #c42b42;
}

.App {
  /* justify-content: center; */
  height: 100vh;
  display: inline-block;
  background-color: white;
  z-index: 1;
  margin: 0;
  padding: 0;
  position: relative;
  overflow-x: scroll;
  /* overflow-y: hidden; */
  vertical-align: text-top;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

/* Header */
.header {
  background-color: #9d2235;
  display: inline-block;
  position: fixed;
  width: 100vw;
  height: 5%;
  z-index: 99999;
}
.headerContainer {
  scroll-snap-type: proximity;
  display: flex;
}

.logo-image {
  min-width: 300px;
  max-width: 400px;
  width: 35%;
  background-color: #9d2235;
  margin: 0.3em;
  margin-left: 2em;
  padding: 0.5em;
}

/* Slum Question Stuff */
.slumQDiv {
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  max-height: 100vh;
  display: inline-block;
  background-color: antiquewhite;
  /* justify-content: center; */
  text-align: center;
  vertical-align: text-top;
  border: 1px solid red;
  position: relative;
  scroll-snap-align: start;


}

.slumQPrompt {
  font-size: 2vw;
  white-space: normal;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-top: 20vh;
}
